/* You can add global styles to this file, and also import other style files */
@import "~element-angular/theme/index.css";
body{
    padding-top: 70px;
}
.el-form--label-top .el-form-item__label{
    padding: 0!important;
}
.el-form-item--small .el-form-item__label {
    line-height: 28px;
}
.el-form-item--small.el-form-item {
    margin-bottom: 12px;
}